<!DOCTYPE html>
<html>
<head>
    <title> {{ title }} </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}">
    
     {% block head %}{% endblock %}

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <nav class="sidebar">

                <div class="nav-group title">
                    <a href="{{ url_for('index', lang=lang) }}">Katerina Duda</a>
                </div>

                {% with url=url_for('bio', lang=lang) %}
                <div class="nav-group {{ 'active' if request.path == url }}">
                    <a href="{{ url }}" class="block">
                        {{ 'o meni' if lang == 'hr' else 'about' }}
                    </a>
                </div>
                {% endwith %}

                {% for group in sidebar.sidebar_categories.itervalues() %}
                {% with group_url=url_for('category', category=group.key, lang=lang) %}
                <div class="nav-group {{ 'active' if request.path == group_url }}">
                    <a href="{{ group_url }}" class="nav-group-title">
                        {{ group.title|lower }}
                    </a>
                    {% if group.has_active_project or request.path == group_url %}
                        <ul>
                        {% for item in group.projects %}
                            <li {% if item.active %} class="active" {% endif %}>
                                <a href="{{ url_for('project', path=item.path, lang=lang) }}">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {% endwith %}
                {% endfor %}

                <div class="nav-group spacer">
                    <a href="https://vimeo.com/user3677462" class="block">
                        vimeo
                    </a>
                </div>

                <div class="nav-group">
                    <a href="{{ translate_url }}" class="block">
                        {% if lang == 'eng' %}
                            hrvatski
                        {% else %}
                            english
                        {% endif %}
                    </a>
                </div>
            </nav>
        </div>
        <div class="col-md-8 col-sm-12 content-wrap">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{% block footer %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59217884-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>



